@import 'tailwindcss';

@layer components {

    .btn-primary {
        @apply
        rounded-lg
        font-medium
        hover:bg-blue-50
        transition-colors
        w-fit 
        px-6 
        py-3 
        text-sm 
        sm:text-base 

        bg-[#FF7230] 
        text-white
        ;
        cursor: pointer;
    }

    .btn-secondary {
        @apply
        rounded-lg
        font-medium
        hover:bg-blue-50
        transition-colors
        w-fit 
        px-6 
        py-3 
        text-sm 
        sm:text-base 

        bg-white
        text-black
        ;
        
        cursor: pointer;
    }
    

    .debug- {
        @apply border border-white;
    }
}

@media print {
    html,
    body {
        background-color: #000;
    }
    .btn-primary,
    .polaroid.original,
    h1,
    .btn-wrapper {
        display: none;
    }
}

